<style>
    .image-container {
        display: block;
        text-align: center;
    }
    img{
        display: block;
        margin: 10px auto;
        max-width: 100%;
        height: auto;
        border: 2px solid #000;
    }
</style>